/* use of splat operator to override bootstrap's body styling */
* {
  background-color: black;
  color: white;
}

#entry_container {
  width: 60%;
  margin: 0 auto;
  margin-top: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0 42px;
}

#entry_title_container {
  position: relative;
  display: inline-block;
  width: 50%;
  height: auto;
}

#entry_title_animated {
  position: absolute;
  bottom: 11%;
  max-width: 100%;
  max-height: auto;
  animation-name: fade-in, fade-out;
  animation-duration: 2s, 4s;
  animation-timing-function: ease-in;
  animation-delay: 0s, 4.5s;
}

#entry_visual_container {
  position: relative;
  width: 10%;
  height: auto;
}

#entry_visual_animated {
  max-width: 100%;
  animation-name: fade-in, launch, fade-out;
  animation-duration: 2s, 3s, 5s;
  animation-timing-function: ease-in, ease-in, ease;
  animation-delay: 0s, 2s, 3s;
}

@keyframes fade-in {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

@keyframes launch {
  from { transform : translateY(0%) }
  to { transform: translateY(-150%) }
}

@keyframes fade-out {
  0% { opacity: 1 }
  40% { opacity: 0 }
  100% { opacity: 0 }
}

#home_title_container {
  margin: 30px auto;
  width: 700px;
}

#home_title {
  max-width: 100%;
}

#launch_container {
  display: flex;
  flex-direction: row;
}

#launchpad_container, #carousel, #launch_description_container {
  width: 33.33%;
}

#launch_description_container {
  margin-top: 10%;
  margin-left: 5%;
}


#carousel {
  width: 30%;
  margin: 0 auto;
}

.carousel .item {
  height: 1000px;
}

#vehicle_image_container {
  height: 250px;
  width: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 110px;
}

#vehicle_image {
  height: 100%;
  width: auto;
}

#launchpad_container {
  margin-top: 10%;
  margin-left: 5%;
}

#launchpad_image {
  width: 200px;
}

#filler_container {
  height: 75px;
}

#horizon_container {
  width: 100%;
  height: auto;
  text-align: center;
}

#horizon_image {
  width: 100%;
}