/* use of splat operator to override bootstrap's body styling */
* {
  background-color: black;
  color: rgb(235, 235, 235);
  /* text-transform: lowercase; */
  /* font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif; */
  font-family: "Avenir-Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  /* font-family: Goudy Old Style, Garamond, Big Caslon, Times New Roman, serif; */
  /* font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman, serif; */
  /* font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif; */
  /* font-family: Georgia, Times, Times New Roman, serif; */
  /* font-family: Lucida Bright, Georgia, serif; */
  /* font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif; */
  /* font-family: Perpetua, Baskerville, Big Caslon, Palatino Linotype, Palatino, serif; */
  /* font-family: Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif; */
  /* font-family: "Open Sans", Arial, sans-serif; */
  /* font-family: Arial, Baskerville, monospace; */
  /* font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif; */
  /* font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif; */
}


#entry_container {
  width: 60%;
  margin: 0 auto;
  margin-top: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0 42px;
}

@media (max-width: 768px) {
  #entry_container {
    margin-top: 60%;
  }
}

@media (max-width: 390px) {
  #entry_container {
    margin-top: 100%;
  }
}

#entry_title_container {
  position: relative;
  display: inline-block;
  width: 50%;
  height: auto;
}

#entry_title_animated {
  position: absolute;
  bottom: 11%;
  max-width: 100%;
  max-height: auto;
  animation-name: entry-fade-in, entry-fade-out;
  animation-duration: 2s, 4s;
  animation-timing-function: ease-in;
  animation-delay: 0s, 4.5s;
}

#entry_visual_container {
  position: relative;
  width: 10%;
  height: auto;
}

#entry_visual_animated {
  max-width: 100%;
  animation-name: entry-fade-in, launch, entry-fade-out;
  animation-duration: 2s, 3s, 5s;
  animation-timing-function: ease-in, ease-in, ease;
  animation-delay: 0s, 2s, 3s;
}

@keyframes entry-fade-in {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

@keyframes launch {
  from { transform : translateY(0%) }
  to { transform: translateY(-150%) }
}

@keyframes entry-fade-out {
  0% { opacity: 1 }
  40% { opacity: 0 }
  100% { opacity: 0 }
}

#home_title_container {
  margin: 2.5% auto;
  width: 700px;
  animation: suspend-title;
  animation-timing-function: ease-in;
  animation-duration: 5.5s;
}

@media (max-width: 1500px) {
  #home_title_container {
    margin: 1% auto -1%;
  }
}

#home_title {
  max-width: 100%;
}

@keyframes suspend-title {
  0% { opacity: 0 }
  20% { opacity: 0 }
  100% { opacity: 1 }
}

#launch_container {
  display: flex;
  flex-direction: row;
  animation: suspend;
  animation-duration: 8s;
}

/* @media (max-width: 768px) {
  #launch_container {
    flex-direction: column;
  }
} */

@keyframes suspend {
  0% { opacity: 0 }
  50% { opacity: 0}
  100% { opacity: 1 }
}

#launchpad_container, #carousel, #launch_description_container {
  width: 33.33%;
}

#launch_description_container {
  padding: 20px;
  text-align: justify;
  margin: 7% 5% 0 0;
  background-color: #252931;
  max-width: 400px;
  min-width: 180px;
  max-height: 400px;
}

#launch_description_container a {
  color: #8ec9ff;
}

#launch_description_container p { 
  background-color: #252931;
}

#carousel {
  width: 30%;
  min-width: 400px;
  margin: 0 auto;
}

.carousel .item {
  height: 1000px;
}

#vehicle_image_container {
  max-height: 250px;
  min-height: 250px;
  height: 250px;
  width: auto;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 110px;
}

#vehicle_image {
  margin: auto auto;
  max-height: 200px;
  min-height: 250px;
  height: 250px;
  width: auto;
}

#launchpad_container {
  padding: 20px;
  margin: 7% 0 0 5%;
  background-color: #252931;
  max-width: 400px;
  min-width: 180px;
  max-height: 400px;
}

#launchpad_container p, a {
  text-align: left;
  background-color: #252931;
}

#launchpad_container a {
  color: #8ec9ff;
}

#launchpad_image {
  display: block;
  margin: 0 auto;
  /* max-height: 180px; */
  /* min-height: 100px; */
  max-width: 100%;
  /* min-width: 200px; */
}

#filler_container {
  height: 50px;
}

#horizon_container {
  /* position: fixed;
  bottom: 0; */
  width: 100%;
  min-width: 700px;
  height: auto;
  text-align: center;
  /* z-index: -1; */
  animation: fade-in, blur-in;
  animation-duration: 2s, 3.5s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
}

#horizon_image {
  width: 100%;
}

@keyframes fade-in {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

@keyframes blur-in {
  0% { -webkit-filter: blur(40px)}
  50% { -webkit-filter: blur(15px)}
  75% { -webkit-filter: blur(9px)}
  100% { -webkit-filter: blur(0px)}
}